# Kaskada with CSV

**Goal:** Demonstrate the new feature work for Kaskada to operate on CSV data. This work is scheduled for demo on 2/28/2023.

## Generating CSV Data

The section below generates a basic dataset.

In [ ]:
import random
import pandas

def generate_dataset(num_members, num_records_per_member):
    member_ids = list(range(0, num_members))
    column_1_name = 'amount'
    column_2_name = 'random_col'
    records = []
    for member_id in member_ids:
        for i in range(0, num_records_per_member):
            records.append({
                'id': member_id,
                'time': random.randint(1000000000000000, 9000000000000000), # number of seconds from epoch
                'name': f"my-cool-name-{random.randint(-100, 100)}",
                column_1_name : random.randint(-100, 100),
                column_2_name : f"some-value-{random.randint(0, 100)}"
            })

    df = pandas.DataFrame(records)
    df['time']= pandas.to_datetime(df['time'])
    return df

In [ ]:
dataset1 = generate_dataset(100, 5)
dataset1.to_csv('dataset1.csv')
dataset1

## Launch Kaskada

There is no additional configuration Kaskada needs to utilize CSV. Simply create a table or use an existing table, and load the CSV data to the table. Previously, the python client library used PyArrow to convert CSV to Parquet prior to ingestion but now this constraint is removed.

In [1]:
from kaskada.api.session import LocalBuilder
import kaskada.table
session = LocalBuilder().download(False).build()

INFO:kaskada.api.session:Initializing manager process
INFO:kaskada.api.session:Logging manager STDOUT to /Users/jordan.frazier/.cache/kaskada/logs/121c73f3-fef6-40c6-8753-9b2c64ef490c/manager_stdout.txt
INFO:kaskada.api.session:Logging manager STDERR to /Users/jordan.frazier/.cache/kaskada/logs/121c73f3-fef6-40c6-8753-9b2c64ef490c/manager_stderr.txt
INFO:kaskada.api.session:Initializing engine process
INFO:kaskada.api.session:Logging engine STDOUT to /Users/jordan.frazier/.cache/kaskada/logs/121c73f3-fef6-40c6-8753-9b2c64ef490c/engine_stdout.txt
INFO:kaskada.api.session:Logging engine STDERR to /Users/jordan.frazier/.cache/kaskada/logs/121c73f3-fef6-40c6-8753-9b2c64ef490c/engine_stderr.txt
INFO:kaskada.api.session:Successfully connected to session.

In [2]:
# Create the table named transactions with the time and name column
kaskada.table.create_table('Supplant', 'timestamp_utc', 'sensor_serial')

table {
  table_id: "d3f2c2eb-b2a2-4409-a70b-2e79c48394e7"
  table_name: "Supplant"
  time_column_name: "timestamp_utc"
  entity_key_column_name: "sensor_serial"
  create_time {
    seconds: 1690565475
    nanos: 404933000
  }
  update_time {
    seconds: 1690565475
    nanos: 404934000
  }
  source {
    kaskada {
    }
  }
}
request_details {
  request_id: "385f4a545cf439196a40e3d6e2b94a6a"
}

In [3]:
# Create the table named transactions with the time and name column
kaskada.table.create_table('TableWithList', 'time', 'key')

table {
  table_id: "2bb32515-0961-412a-abd1-3a60ec92a0d7"
  table_name: "TableWithList"
  time_column_name: "time"
  entity_key_column_name: "key"
  create_time {
    seconds: 1690565912
    nanos: 515985000
  }
  update_time {
    seconds: 1690565912
    nanos: 515987000
  }
  source {
    kaskada {
    }
  }
}
request_details {
  request_id: "fcea29d2c33fc80a8093be5ca1ceae0d"
}

In [4]:
kaskada.table.load('TableWithList', 'data_with_list.parquet')

data_token_id: "6aaa9584-02cc-47e7-8814-1e074c5bee54"
request_details {
  request_id: "1107490479e23cde2d4cdc53fcae1753"
}

In [7]:
kaskada.table.get_table('TableWithList')

table {
  table_id: "2bb32515-0961-412a-abd1-3a60ec92a0d7"
  table_name: "TableWithList"
  time_column_name: "time"
  entity_key_column_name: "key"
  create_time {
    seconds: 1690565912
    nanos: 515985000
  }
  update_time {
    seconds: 1690565915
    nanos: 213666000
  }
  version: 4107
  schema {
    fields {
      name: "time"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_NANOSECOND
      }
    }
    fields {
      name: "subsort"
      data_type {
        primitive: PRIMITIVE_TYPE_U64
      }
    }
    fields {
      name: "key"
      data_type {
        primitive: PRIMITIVE_TYPE_U64
      }
    }
    fields {
      name: "i64_list"
      data_type {
        list {
          struct {
          }
        }
      }
    }
    fields {
      name: "bool_list"
      data_type {
        list {
          struct {
          }
        }
      }
    }
    fields {
      name: "string_list"
      data_type {
        list {
          struct {
          }
        }
      }
    }
    fields {
      name: "index"
      data_type {
        primitive: PRIMITIVE_TYPE_I32
      }
    }
  }
  source {
    kaskada {
    }
  }
}
request_details {
  request_id: "7ca09a99ca5b6ef78e73e3358763b32a"
}

In [3]:
# Load the data to the table
kaskada.table.load('Supplant', 'supplant.parquet')

data_token_id: "c3796f1b-1c42-43f0-b327-7e4767c274b7"
request_details {
  request_id: "bc0f68e34946af6557c73871d38e7eeb"
}

In [4]:
# Get the table and see the version is incremented and the schema is available.
kaskada.table.get_table('Supplant')

table {
  table_id: "d3f2c2eb-b2a2-4409-a70b-2e79c48394e7"
  table_name: "Supplant"
  time_column_name: "timestamp_utc"
  entity_key_column_name: "sensor_serial"
  create_time {
    seconds: 1690565475
    nanos: 404933000
  }
  update_time {
    seconds: 1690565480
    nanos: 78110000
  }
  version: 4106
  schema {
    fields {
      name: "partition_key"
      data_type {
        struct {
          fields {
            name: "org.apache.cassandra.db.marshal.Int32Type"
            data_type {
              primitive: PRIMITIVE_TYPE_I32
            }
          }
          fields {
            name: "org.apache.cassandra.db.marshal.UTF8Type"
            data_type {
              primitive: 27
            }
          }
        }
      }
    }
    fields {
      name: "_ts_row_liveness"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_del_time_row_liveness"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_ttl_row_liveness"
      data_type {
        primitive: PRIMITIVE_TYPE_I64
      }
    }
    fields {
      name: "_local_del_time_partition"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MILLISECOND
      }
    }
    fields {
      name: "_marked_for_del_at_partition"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_local_del_time_row"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MILLISECOND
      }
    }
    fields {
      name: "_marked_for_delete_at_row"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "clustering_key_0"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MILLISECOND
      }
    }
    fields {
      name: "clustering_key_1"
      data_type {
        primitive: PRIMITIVE_TYPE_I32
      }
    }
    fields {
      name: "sensor_serial"
      data_type {
        primitive: 27
      }
    }
    fields {
      name: "_ts_sensor_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_del_time_sensor_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_ttl_sensor_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_I64
      }
    }
    fields {
      name: "system_serial"
      data_type {
        primitive: 27
      }
    }
    fields {
      name: "_ts_system_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_del_time_system_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_ttl_system_serial"
      data_type {
        primitive: PRIMITIVE_TYPE_I64
      }
    }
    fields {
      name: "timestamp_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MILLISECOND
      }
    }
    fields {
      name: "_ts_timestamp_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_del_time_timestamp_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_ttl_timestamp_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_I64
      }
    }
    fields {
      name: "updated_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MILLISECOND
      }
    }
    fields {
      name: "_ts_updated_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_del_time_updated_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_TIMESTAMP_MICROSECOND
      }
    }
    fields {
      name: "_ttl_updated_utc"
      data_type {
        primitive: PRIMITIVE_TYPE_I64
      }
    }
    fields {
      name: "readings"
      data_type {
      }
    }
    fields {
      name: "_ts_readings"
      data_type {
      }
    }
    fields {
      name: "_del_time_readings"
      data_type {
      }
    }
    fields {
      name: "_ttl_readings"
      data_type {
      }
    }
  }
  source {
    kaskada {
    }
  }
}
request_details {
  request_id: "f73c955c98dcb5fc8c1c5554bca047f1"
}

## Run a query with Fenlmagic

In [8]:
%load_ext fenlmagic

In [12]:
%%fenl 
let list = TableWithList.i64_list
in { list }

In [9]:
%%fenl --preview-rows 10
let readings = Supplant.readings
in { readings }

In [8]:
%%fenl --preview-rows 10
# First/Last aggregation over maps (still cannot use them in merges)
let readings = Supplant.readings
let first_readings = Supplant.readings | first()
let last_readings = Supplant.readings | last() 
in { readings: readings, first: first_readings, last: last_readings }

In [32]:
%%fenl --preview-rows 10
# Tests that unlatched map and large utf8 works
# ...though I did have to locally fix a bug for LargeUtf8 that I will send for PR after this. 
let readings = Supplant.readings
let lookup = Supplant | lookup(Supplant.sensor_serial)
in { readings: readings, lookup: lookup }

In [33]:
%%fenl --preview-rows 10
let readings = Supplant.readings
let first_readings = Supplant.readings | first()
let last_readings = Supplant.readings | last()
let lookup = Supplant | lookup(Supplant.sensor_serial) # causes a merge

# Latched map spread is unsupported, so no aggregations with maps can go into a merge now
in { readings: readings, first: first_readings, last: last_readings, lookup: lookup }

# internal compute error: spawn compute executor
# â”œâ•´at /Users/jordan.frazier/Documents/Datastax/kaskada/crates/sparrow-runtime/src/execute.rs:236:6
# â”‚
# â”œâ”€â–¶ internal compute error: unable to create operation
# â”‚   â•°â•´at /Users/jordan.frazier/Documents/Datastax/kaskada/crates/sparrow-runtime/src/execute/operation.rs:431:6
# â”‚
# â”œâ”€â–¶ internal compute error: spread failure
# â”‚   â•°â•´at crates/sparrow-runtime/src/execute/operation/merge.rs:173:105
# â”‚
# â•°â”€â–¶ Latched map spread not supported
#     â”œâ•´at crates/sparrow-runtime/src/execute/operation/merge.rs:173:91
#     â•°â•´span trace with 2 frames (1)

In [34]:
%%fenl --preview-rows 10
let air_temp = Supplant.readings | get("airTemperature")
in { air_temp }

In [35]:
%%fenl --preview-rows 10
let air_temp = Supplant.readings | get("airTemperature")
in { readings: Supplant.readings, air_temp }

In [36]:
%%fenl --preview-rows 10
let air_temp = Supplant.readings | get("airTemperature")
let battery = Supplant.readings | get("battery")
in { readings: Supplant.readings, air_temp, battery }

In [12]:
%%fenl --preview-rows 10
let air_temp = Supplant.readings | get("airTemperature")
let battery = Supplant.readings | get("battery")
let sum_air = { air_temp: air_temp | sum() } 
let test = lookup(sum_air, {x:  Supplant.readings | get("airTemperature") })
in { readings: Supplant.readings, air_temp, battery, sum_air, test}

## More Data

Add more data with additional CSV files.

In [ ]:
dataset2 = generate_dataset(100, 50) #5000
dataset2.to_csv('dataset2.csv')

In [ ]:
kaskada.table.load('transactions', 'dataset2.csv')

In [ ]:
%%fenl
transactions

In [ ]:
%%fenl --output=csv
transactions